$namespace: #atomic;
$desktop: true;
$legacy: false;
$start: left;
$end: right;

// values used in helper classes
$default-border-color: #555; /* used in some helper classes (i.e. 'Divider') */
$default-font-size: 16px; /* used to reset font-size on inline-blocks (to kill white-space) */
$bleed-value: -10px; /* value to use as negative offset (helper class) */
$line-clamp_values: (2, 1.2em, 1.25),(3, 1.8em, 1.5),(4, 20px, 2);

// used in loops
$index: 1;
$alphabet: a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r,s,t,u,v,w,x,y,z;

// to escape ".", "%", etc.
$escape: '\\';
